# Database Configuration
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=tu_usuario_aqui
DB_PASSWORD=tu_password_aqui
DB_NAME=ecommerce_db
STATE=dev

#mercadopago
MP_ACCESS_TOKEN=APP_USR-xxxx-xxxx-xxxx...
MP_PUBLIC_KEY=APP_USR-xxxx-xxxx-xxxx...