# Database Configuration
DB_HOST=db
DB_PORT=5433
DB_USERNAME=tu_usuario_aqui
DB_PASSWORD=tu_password_aqui
DB_NAME=ecommerce_db
STATE=dev

# Frontend URL
FRONTEND_URL=https://xxxxxxxx-ecommerce-frontend.vercel.app/

# Puerto
PORT=3000

# JWT
JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Mercadopago
MP_ACCESS_TOKEN=APP_USR-xxxx-xxxx-xxxx...
MP_PUBLIC_KEY=APP_USR-xxxx-xxxx-xxxx...

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Mailtrap
MAIL_HOST=sandbox.xxx.xxxxxxx.xx
MAIL_PORT=1234
MAIL_USER=xxxxxxxx
MAIL_PASS=xxxxxxxx
MAIL_FROM=xxxxx@tudominio.com
FRONTEND_URL=http://localhost:3000

# URL base de ngrok (cambia cada vez que reinicias ngrok si no tienes cuenta fija)
BASE_URL_WEBHOOK=https://xxxxxxxxxxxxxxxxx-xxxxxx-xxxxx.ngrok-free.dev

# N8N Automatizaciones
N8N_WEBHOOK_URL=https://webhook.site/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx